*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #080808;
    color: #fff;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/background.jpg);
    background-size: cover;
    background-position: center;
    /* position: fixed; */
}
nav h1{
    font-size: 30px;
    font-weight: 700;
    user-select: none;
}
.container{
    padding: 10px 7%;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /* position: fixed; */
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    position: relative;
}
/* nav ul li a:hover{
    border-bottom: 3px solid white;
    transition: .5s;
    animation: ease-in-out;
} */
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: lightsalmon;
    position: absolute;
    left: 0;
    transition: .5s;
    bottom: -5px;
}
nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1{
    font-size: 60px;
    margin-top: 30px;
    width: 30%;
}
.header-text h1 span{
    color: burlywood;
}


/* ------------about------- */


#about{
    padding: 80px 0;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-co1-1{
    flex-basis: 35%;
}
.about-co1-1 img{
    width: 100%;
    border-radius: 25px;
}
.about-co1-2{
    flex-basis: 60%;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: white;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: lightsalmon;
    position: absolute;
    left: 0;
    transition: .5s;
    bottom: -5px;
}
.tab-links.active-link::after{
    width: 75%;
}
/* .tab-links:hover{ */
    /* border-bottom: 5px solid white; */
    /* color: white; */
/* } */

.tab-contents ul li{
    list-style: none;
    margin-top: 10px;
    margin-bottom: 10px;
}
.tab-contents ul li span{
    color: #b54769;
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
} 


/* ---------services------ */




#services{
    padding: 30px 0;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top:50px;
}
.services-list div{
    background-color: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 400;
    border-radius: 10px;
    transition: background 0.5s,transform 0.5s;
}
.services-list div .material-symbols-outlined{
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover{
    background: #ff004f;
    transform: translateY(-15px);
}


/* --------------portfolio--- */

#portfolio{
    padding: 50px 0;
}
.worklist{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6),#ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    text-decoration: none;
    margin-top: 20px;
    color: #ff004f;
    font-size: 18px;
    line-height: 70px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
   height: 100%;
}

/* -----------Contact---- */
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}

.contact-left p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
    transition: scale 0.5s;
}
.contact-left p i:hover{
    transform: scale(1.2);
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: color 0.5s,transform 0.5s;
}
.social-icons a:hover{
    color: #ff004f;
    transform: translateY(-9px);
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    transform: background 0.5s;
}
.btn:hover{
    background: #ff004f;
}
.btn2{
    display: block;
    margin: 25px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    background:black;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: background 0.5s;
}
.btn2:hover{
   background: #ff004f;
}

.contact-right form{
    width: 100%;
}
form input,form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 500;
    margin-top: 20px;
}